.videoCard {
  margin-bottom: 40px;
  width: 270px;
  display: block;
}

.videoCard_thumbnail {
  height: 140px;
  width: 250px;
  object-fit: cover;
}

.videoCard_info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoCard_text {
  margin-left: 14px;
  margin-bottom: 5px;
}

.videoCard_text > p {
  font-size: 14px;
  color: gray;
}

.video_avatar {
  height: 30px !important;
  width: 30px !important;
}

.videoCard :hover {
  opacity: 0.9;
}



